@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply m-0 box-border p-0
}

:root,
body {
  @apply flex flex-col
}

html {
  font-size: 16px;
}
h1 {
  @apply text-2xl
}
h2 {
  @apply text-xl
}
h3 {
  @apply text-lg
}
h4 {
  font-size: 20px;
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 18px;
  }
  h1 {
    @apply font-bold text-4xl
  }
  h2 {
    @apply text-3xl
  }
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-xl
  }
}

a {
  @apply cursor-pointer
}

@layer components {
  .link-hover,
  .link-bg-hover {
    @apply transition ease-in-out duration-300
  }
  .link-hover:hover {
    @apply text-[burlywood]
  }
  .link-bg-hover:hover {
    @apply bg-[burlywood]
  }
}
