---
import Button from "./Button.astro";
import Badge from "./Badge.astro";

const { title, url, badges, domain } = Astro.props;
---

<div class="p-4 border-solid rounded-lg border-2 lg:w-80">
  {
    title && (
      <Button href={url} classNames="w-full">
        <div class="flex flex-col items-center">
          <i class="p-4 fa-brands fa-github fa-xl" />
          <p>{title}</p>
        </div>
      </Button>
    )
  }
  {
    (domain || badges) && (
      <div>
        <p>
          {domain && <Badge classNames="bg-[#702963]">{domain}</Badge>}
          {badges && badges.map((badge) => <Badge>{badge}</Badge>)}
        </p>
      </div>
    )
  }
  <p class="pt-4"><slot /></p>
</div>
