#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        width: 17rem;
        height: 100vh;

        background-color: #383838;
    }

    .navbar-avatar {
        margin: auto auto 0;
        padding: 0.5rem;
    }

    .navbar-links {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;

        width: 100%;

        margin-bottom: auto;
    }

    .navbar-links .navbar-nav {
        display: flex;
        padding-left: 0;
        padding-bottom: 0;
        flex-direction: column;

        width: 100%;
    }

    .navbar-links .navbar-nav .nav-item {
        display: block;
    }

    .navbar-links .navbar-nav .nav-item .nav-link {
        display: block;
        color: whitesmoke;
        text-decoration: none;
        padding: .5rem 1rem;
    }

    .navbar-links .navbar-nav .nav-item .nav-link:hover {
        color: burlywood;
    }
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

.social-icons a {
    font-size: 26px;  
    margin: 0 10px 0 0; 
    color: #383838; 
    text-decoration: none; 
    background: whitesmoke;
    padding: 10px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

.social-icons a:hover {
    background: burlywood;
}