---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="w-14 p-4 bg-[whitesmoke] rounded-full justify-center text-[#383838] transition ease-in-out hover:bg-[burlywood] duration-300"
>
  <slot />
</a>
